/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
/* Layout */
#news-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    align-items: flex-start;
}
#news-container a{
    text-decoration: none;
    color: black;
}
/* Main Article (Larger) */
#main-article {
    flex: 1;
    background: white;
    height: 600px;
}

#main-article .article{
    flex: 1;
    background: white;
    height: inherit;
}

#main-article .article h2{
    font-size: 18px;
}

#main-article .article > p{
    color: #1691db;
}

#main-article img {
    width: 100%;
    height: auto;
}

.article {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    margin-right: 5px;
}

.article img {
    width: 100%;
    height: auto;
}

/* Side Articles */
#side-articles{
    flex: 2;
    display: flex;
    height: auto;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    align-items: flex-start;
    height: 600px;
}

#side-articles .article{
    display: flex;
    max-width: calc(45% - 10px);
    height: 49%;
}

#side-articles .article .side-article{
    display: flex;
    gap: 15px;
    width: 100%;
}

#side-articles .article .side-article img{
    width: calc(45% - 5px);
    height: fit-content;
}

#side-articles .article .side-main-div > p{
    color: #1691db;
}

#side-articles .article .side-article p{
    margin: 0;
}

#side-articles .article .side-main-div h2{
    font-size: 18px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #news-container {
        flex-direction: column;
    }

    #main-article, .article {
        flex: unset;
        width: 100%;
    }

    #side-articles{
        max-height: 400px;
    }
}
